<div class="header">
  <div class="container">
    <div class="navbar-header">
      <a  class="logo" [routerLink]=" ['./'+pages.main] " routerLinkActive="" [routerLinkActiveOptions]="{exact: true}">
        <img src="assets/img/bap-logo.png" alt="Логотип">
      </a>
      <button (click)="menuCollapsed = !menuCollapsed" type="button" class="header__menu-btn navbar-toggle">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div [collapse]="menuCollapsed" class="navbar-collapse">
      <ul class="navigation nav navbar-nav navbar-right">
        <li>
          <a [routerLink]=" ['./'+pages.auction] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            {{ 'Аукціон' | uppercase }}
          </a>
        </li>
        <li>
          <a [routerLink]=" ['./statistic'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            {{ 'Статистика' | uppercase }}
          </a>
        </li>
        <li>
          <a [routerLink]=" ['./news'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            {{ 'Новини' | uppercase }} 
          </a>
        </li>
        <li *ngIf="isLogedIn">
          <a class="navigation__search-button" [routerLink]=" ['./search'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <img src="assets/icon/search-tool.png" alt="Пошук">
          </a>
        </li>
      </ul>
    </div>
    <div *ngIf="!isLogedIn" class="header__login">
      <a [routerLink]=" ['./login'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <img src="assets/icon/man-icon.png" alt="Іконка юзера">
        <p>
          {{ 'Увійти' | uppercase }}
        </p>
      </a>
    </div>
    <div *ngIf="isLogedIn" class="header__profile">
      <a [routerLink]=" ['./profile'] " routerLinkActive="active">
        <img src="assets/icon/man-icon.png" alt="Іконка юзера">
        <p>
          {{ 'Профіль' | uppercase }} <img src="assets/icon/profile-arrow-up.png" alt="">
        </p>
      </a>
    </div>
  </div>
</div>

