<div class="profile-menu">
  <div class="container-fluid">
    <ul class="nav">
      <li>
        <a [routerLink]=" ['./'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          {{ 'Мій лот' | uppercase }} 
        </a>
      </li>
      <li>
        <a [routerLink]=" ['./'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          {{ 'Мої ставки' | uppercase }} 
        </a>
      </li>
      <li>
        <a [routerLink]=" ['./'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          {{ 'Слідкую' | uppercase }} 
        </a>
      </li>
      <li>
        <a [routerLink]=" ['./'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          {{ 'Моя статистика' | uppercase }} 
        </a>
      </li>
      <li>
        <a [routerLink]=" ['./profile-data'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          {{ 'Мої дані' | uppercase }} 
        </a>
      </li>
      <li>
        <a [routerLink]=" ['./'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          {{ 'Налаштування' | uppercase }} 
        </a>
      </li>
    </ul>
  </div>
</div>