@import '../../../../styles/variables';
@mixin breakpoint($mq01: 0, $mq2: false, $maxmin: max-width) {
    @if $mq2 == false {
        @media ($maxmin: $mq01) {
            @content;
        }
    }
    @else {
        @media (min-width: $mq01) and (max-width: $mq2) {
            @content;
        }
    }
}

// breakpoint variables
$lg: 1170px;
$md: 1024px;
$sm: 640px;
$xs: 480px;

// responsive font size mixin
@mixin font-size-map($font-size-map) {
    @each $breakpoint, $font-size in $font-size-map {
        @if $breakpoint == null {
            font-size: $font-size;
        } @else {
            @include breakpoint($breakpoint) {
                font-size: $font-size;
            }
        }
    }
}

// font sizes
$heading-font-size: (null: 4.319em, $lg: 4.319em, $md: 4.119em, $sm: 3.919em, $xs: 3.519em);

$paragraph-font-size: (null: 2.8em, $md: 2.7em, $sm: 2.5em, $xs: 2.3em);

.header {
  background-color: $main-green;
  height: 5rem;
  a {
    color: $white;
    text-decoration: none;
  }
  .logo {
    margin-top: 0.2rem;
    img {
      height: 4.5rem;
    }
  }

  .navigation {
    height: 5rem;
    padding-top: 1.5rem;
    a {
      padding: 0 1rem;
      display: inline-block;
      //height: 100%;
      //vertical-align: middle;
      //line-height: 1.25;
      //text-align: center;
    }

    a:hover {
      background-color: $super-light-green;
    }
  }
  .navigation__search-button {
    img {
      height: 1.7rem;
    }
  }

  .header__login-button {
    background-color: $light-green;
    height: 100%;
    img {
      display: block;
      margin: 0.4rem auto;
    }
    a {
      display: block;
      text-align: center;
      padding: 0.3rem 0;
    }
  }
}
