@import '../../../../styles/variables';

.profile {
  &__photo {
    margin: 4rem auto 0;
    
    //margin-right: 1rem;
    width: 12rem;
    float: right;
    img {
      border-radius: 60%;
    }
  }
  &__menu {
    //@include font-medium;
    //margin-left: 3rem;
    ul {
      margin-top: 4rem;
      margin-left: 1rem;
      width: 12rem;
    }
    a {
      text-decoration: none;
      color: $dark-grey;
      display: block;
      padding: 1rem;
      &:hover {
          background-color: $super-light-green;
      }
    }
  }
}

@media (max-width: 767px) {
  .profile {
    &__photo {
      margin: 2rem auto;
      float: none;
    }

    &__menu {
      ul {
        margin: 0 auto;
      }
    }
  }
} 