<div class="profile">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <div class="profile__photo">
          <img class="img-responsive" src="assets/img/profile-foto.jpg" alt="Фото профілю">
        </div>
      </div>
      <div class="profile__menu col-sm-6 col-xs-12">
        <ul class="list-unstyled">
          <li>
            <p>
              Логін: <span>gorishok</span>
            </p>
          </li>
          <li>
            <p>
              Ім'я: <span>Брюс</span>
            </p>
          </li>
          <li>
            <p>
              Прізвище: <span>Вілліс</span>
            </p>
          </li>
          <li>
            <p>
              Ел. скринька: <span>gorishok@gmail.com</span>
            </p>
          </li>
          <li>
            <p>
              Дата нар.: <span> 22 березня 1992р.</span>
            </p>
          </li>
          <li>
            <p>
              Місто: <span>Зашків</span>
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>