.login-email {
  background: url(/assets/img/email-icon.png) no-repeat scroll 8px 9px;
  padding-left:35px;
}
.login-password {
  background: url(/assets/img/password-icon.png) no-repeat scroll 7px 9px;
  padding-left:35px;
}
