<div class="profile">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <div class="profile__photo">
          <img class="img-responsive" src="assets/img/profile-foto.jpg" alt="Фото профілю">
        </div>
      </div>
      <div class="profile__menu col-sm-6 col-xs-12">
        <ul class="list-unstyled">
          <li>
            <p>
              Логін:
            </p>
          </li>
          <li>
            <p>
              Ім'я:
            </p>
          </li>
          <li>
            <p>
              Прізвище:
            </p>
          </li>
          <li>
            <p>
              Ел. скринька:
            </p>
          </li>
          <li>
            <p>
              Дата нар.:
            </p>
          </li>
          <li>
            <p>
              Місто:
            </p>
          </li>
        </ul>
        <ul class="list-unstyled">
          <li>
            <p>
               gorishok
            </p>
          </li>
          <li>
            <p>
              Брюс
            </p>
          </li>
          <li>
            <p>
              Вілліс
            </p>
          </li>
          <li>
            <p>
              gorishok@gmail.com
            </p>
          </li>
          <li>
            <p>
              22 березня 1992р.
            </p>
          </li>
          <li>
            <p>
              Зашків
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>