$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import '../styles/styles';

html, body {
  height: 100%;
  @include font-heavy;
  font-size: 14px;
  min-width: 320px;
}
