$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'node_modules/angular2-toaster/toaster';
@import '../styles/styles';

html, body {
  height: 100%;
  max-width: 1366px;
  min-width: 320px;
  @include font-heavy;
  font-size: 12px;
  margin: 0 auto;
}
@media (min-width: 768px) {
    html, body {
    font-size: 13px;
  }
}
@media (min-width: 992px) {
    html, body {
    font-size: 14px;
  }
}
@media (min-width: 1200px) {
  font-size: 14px;
}
