@mixin breakpoint($mq01: 0, $mq2: false, $maxmin: max-width) {
    @if $mq2 == false {
        @media ($maxmin: $mq01) {
            @content;
        }
    }
    @else {
        @media (min-width: $mq01) and (max-width: $mq2) {
            @content;
        }
    }
}

// breakpoint variables
$lg: 1170px;
$md: 1024px;
$sm: 640px;
$xs: 480px;
$iphone: 320px;

// responsive font size mixin
@mixin font-size-map($font-size-map) {
    @each $breakpoint, $font-size in $font-size-map {
        @if $breakpoint == null {
            font-size: $font-size;
        } @else {
            @include breakpoint($breakpoint) {
                font-size: $font-size;
            }
        }
    }
}

// font sizes
$heading-font-size: (null: 4.319em, $lg: 4.319em, $md: 4.119em, $sm: 3.919em, $xs: 3.519em);

$paragraph-font-size: (null: 1.5em, $md: 1.5em, $sm: 1.3em, $xs: 1.1em);

.main-page{
  @include font-size-map($paragraph-font-size);
  display: block;
  &-background {
    height: calc(100vh - 5rem);
    background-position: 50% 50%;
    background-size: cover;
    background-image: url(/assets/img/bap-img-one.jpg);
  }
  &-background-two {
    height: calc(100vh - 5rem);
    background-position: 50% 50%;
    background-size: cover;
    background-image: url(/assets/img/bap-img-two.jpg);
  }
  &-caption {
    top: 50%;
    @media screen and (max-width: $md){
        top: 50%;
    }
    @media screen and (max-width: $sm){
        top: 36%;
    }
    @media screen and (max-width: $xs){
        top: 15%;
    }
    @media screen and (max-width: $iphone){
        top: 1%;
    }
  }
}
