<div class="main-page row">
    <carousel>
        <slide class="slide-one">
            <div class="main-page-background"></div>
            <div class="carousel-caption main-page-caption">
                <p>Ти йдеш на побачення- ми веземо діткам в дитячі будинки смаколи, іграшки, одяг. Що може бути простіше і крутіше?</p>
                <button class="btn btn-success">Дізнатись більше</button>
            </div>
        </slide>
        <slide class="slide-one">
            <div class="main-page-background-two"></div>
            <div class="carousel-caption main-page-caption">
                <p>Ти йдеш на побачення- ми веземо діткам в дитячі будинки смаколи, іграшки, одяг. Що може бути простіше і крутіше?</p>
            </div>
        </slide>
    </carousel>
</div>
